fastapi==0.123.9
uvicorn[standard]==0.38.0
pydantic==2.12.5
pydantic-settings==2.12.0
qdrant-client==1.16.1
openai
google-generativeai==0.8.5
sqlalchemy
asyncpg
python-dotenv
langchain-text-splitters
tiktoken
cohere==5.20.0
