fastapi
uvicorn[standard]
pydantic
pydantic-settings
qdrant-client>=1.16.1
openai
google-generativeai
sqlalchemy
asyncpg
python-dotenv
langchain-text-splitters
tiktoken
cohere>=5.20.0
requests>=2.32.5
trafilatura>=2.0.0
